# DATA TYPES IN PYTHON

INT -> Integer

In [13]:
integer_variable = 42

FLOAT -> Decimal

In [ ]:
float_variable = 3.14

STRING -> Text

In [ ]:
string_variable = "Hello, Python!"

LIST -> List

In [ ]:
list_variable = [1, 2, 3, 4, 5]

TUPLE -> Immutable List

In [ ]:
tuple_variable = (10, 20, 30)

SET -> Set

set_variable = {1, 2, 3, 4, 5}

# DATA TYPE FUNCTIONS IN PYTHON

str() -> Convert to String

In [ ]:
integer_variable = 42
string_representation = str(integer_variable)

int() -> Convert to Integer

In [ ]:
float_variable = 3.14
integer_value = int(float_variable)

 float() -> Convert to Float

In [ ]:
string_number = "123.45"
float_value = float(string_number)

list() -> Convert to List

In [ ]:
tuple_variable = (1, 2, 3)
list_representation = list(tuple_variable)

# GENERAL FUNCTIONS IN PYTHON


type() -> Get the Type of an Object

In [ ]:
variable = 42
type_of_variable = type(variable)

len() -> Get the Length of an Object

In [ ]:
list_variable = [1, 2, 3, 4, 5]
length_of_list = len(list_variable)

round() -> Round a Floating-Point Number

In [ ]:
float_number = 3.14159
rounded_number = round(float_number, 2)

sys module

In [ ]:
import sys
print("Current sys.path:", sys.path)

# MODULES

In [ ]:
def name():
    return "John Doe"

# LOGICAL OPERATORS

if-elif-else statement

In [ ]:
variable = 5

if variable > 1 or variable < 10:
    variable = variable + 1
elif variable != 6 and variable > 15:
    variable = 1
else:
    variable = 2

loop

In [ ]:
variables = [1, 2, 3, 4, 5]
for var in variables:
    print(var)

while loop

In [ ]:
var = 6
while var > 5:
    var = var + 1

# STRING METHOD

Capitalize the text

In [ ]:
text = "hello"
capitalized_text = text.upper()

Convert to lowercase

In [ ]:
text = "HELLO"
lowercase_text = text.lower()

Replace text

In [ ]:
original_text = "apple"
new_text = original_text.replace("a", "b")

Slice the string

In [ ]:
text = "python"
sliced_text = text[:3]  # Returns "pyt"

Strip leading and trailing whitespaces

In [ ]:
text = "   spaces   "
stripped_text = text.strip()

Split the text into a list

In [ ]:
text = "apple,orange,banana"
text_list = text.split(",")

# LIST METHOD

Create a list

In [ ]:
my_list = [1, 2, 3, 4]

Add item to the end of the list

In [ ]:
my_list.append(5)

Sort the list in ascending order

In [ ]:
my_list.sort()

Delete item at the specified index

In [ ]:
my_list.pop(1)

Slice the list to get elements from index 1 to 3 (exclusive)

In [ ]:
selected_elements = my_list[1:3]

# Lambda Functions

import pandas as pd

Create a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

Use a lambda function with apply to square each element in column 'A'
df['A_squared'] = df['A'].apply(lambda x: x**2)

Display the modified DataFrame
print(df)

# time module

In [22]:
import time

# Get the current timestamp
timestamp = time.time()
print(timestamp)

# Convert the timestamp to a local time struct
local = time.localtime(timestamp)
print (local)

# Format the local time as a string
result = time.asctime(local)
print (result)

# Convert a timestamp to a struct_time and format it as a string.
current_time = time.time()
local_time = time.localtime(current_time)
formatted_time = time.strftime("%Y-%m-%d %H:%M:%S", local_time)

print("Local time in a formatted string:", formatted_time)

1707056031.4671533
time.struct_time(tm_year=2024, tm_mon=2, tm_mday=4, tm_hour=9, tm_min=13, tm_sec=51, tm_wday=6, tm_yday=35, tm_isdst=0)
Sun Feb  4 09:13:51 2024
Local time in a formatted string: 2024-02-04 09:13:51

# re module

- [a-z]: Matches any lowercase letter.
- [A-Z]: Matches any uppercase letter.
- [0-9]: Matches any digit.
- [^0-9]: Matches any character that is not a digit.

In [19]:
import re

text = "Contact us at info@example.com or support@test.org for assistance.123"

# Define a regex pattern to match email addresses
pattern = r'[0-9]+'

# Use re.findall() to extract all email addresses from the text
find = re.findall(email_pattern, text)

# Print the extracted email addresses
print("Email Addresses:", find)

Email Addresses: ['123']

# random module

In [23]:
import random

random_integer = random.randint(1, 10)
print("Random integer:", random_integer)

Random integer: 4

# requests

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('name.db')

# Create a cursor object
cur = conn.cursor()

# Execute a SELECT query on the 'example_table' table
cur.execute('SELECT * FROM example_table')

# Fetch all the results
results = cur.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cur.close()
conn.close()

In [ ]:
import json
import requests
import sys

# Check if the correct number of command-line arguments is provided
if len(sys.argv) != 2:
    sys.exit()

# Make a request to the iTunes Search API with the provided search term
response = requests.get("https://itunes.apple.com/search?entity=song&limit=50&term=" + sys.argv[1])

# Parse the response JSON
o = response.json()

# Print the names of the songs from the search results
for result in o["results"]:
    print(result["trackName"])

# Pandas

In [27]:
import pandas as pd

# Create a Series
s = pd.Series([1, 2, 3])

# Set custom index
s.index = ["a", "b", "c"]

# Access the element at index 'c'
value_at_c = s.loc["c"]

# Select elements where the value is greater than 2
subset_greater_than_2 = s[s > 2]

# Calculate the mean of the Series
mean_value = s.mean()

In [28]:
# Sample dictionary
data_dict = {'a': 1, 'b': 2, 'c': 3}

# Create a Series from the dictionary
s = pd.Series(data_dict)

# Print the Series
print(s)

a    1
b    2
c    3
dtype: int64

In [ ]:
import pandas as pd

# Create an empty DataFrame with specified columns
df = pd.DataFrame(columns=["a", "b", "column"])

# Print DataFrame columns and index
print("DataFrame columns:", df.columns)
print("DataFrame index:", df.index)

# Display DataFrame information
df.info()

# index-based selection
row_at_index_1 = df.iloc[1]

# Index-based selection
row_at_index_2 = df.iloc[2]

# Select column
column_data = df['column']

# Drop rows
df_dropped_row = df.drop(1)

# Drop columns
df_dropped_columns = df.drop(columns=["a", "b"])

# Column and index names in the rename function
df_renamed = df.rename(columns={"old_column": "new_column"}, index={"old_index": "new_index"})

# Add columns
df['new'] = df['a'] + df['b']

# Reset index
df_reset_index = df.reset_index()

# Format datetime
df['column'] = pd.to_datetime(df['column'])

# Change index
df.set_index('column', inplace=True)

In [30]:
import pandas as pd

# Create a small DataFrame (df1)
data1 = {'key': ['A', 'B', 'C'], 'value_df1': [1, 2, 3]}
df1 = pd.DataFrame(data1)

# Create another small DataFrame (df2)
data2 = {'key': ['A', 'B', 'D'], 'value_df2': [4, 5, 6]}
df2 = pd.DataFrame(data2)


# Concatenate DataFrames along rows (axis=0)
concatenated_df = pd.concat([df1, df2], ignore_index=True)


# Merge DataFrames based on a common key
merged_df_inner = df1.merge(df2, on='key', how='inner')


# Merge DataFrames with left join
merged_df_left = df1.merge(df2, left_on='key', right_on='key', how='left')

In [33]:
import pandas as pd

# Sample DataFrame
data = {'author': ['Author1', 'Author2', 'Author1', 'Author2', 'Author3'],
        'genre': ['Fiction', 'Non-Fiction', 'Fiction', 'Non-Fiction', 'Fiction'],
        'column': [10, 20, 30, 15, 25]}

df = pd.DataFrame(data)


# Create a pivot table
pivot_table_result = df.pivot_table(index="author", columns='genre', values='column', aggfunc='sum')

# Display the pivot table result
print("\nPivot Table Result:")
print(pivot_table_result)

Pivot Table Result:
genre    Fiction  Non-Fiction
author
Author1     40.0          NaN
Author2      NaN         35.0
Author3     25.0          NaN